/* css for cart page */
#itemCartContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.itemCartCard {
    display: grid;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    border-bottom: 2px solid #C7CBDA;
    margin-top: 5px;
    margin-bottom: 3px;
}

.itemImage {
    grid-column: 1;
    max-width: 250px;
}

.itemCartCard .itemCartImage:hover {
    opacity: 0.5;
}

.itemCartInfo{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    margin: auto;
}

.itemCartQuanity {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    margin: auto;
}

.quantityBtnsContainer {
    display: inline;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
}

.quantityBtn {
    font-size: 1.5em;
    padding: 2px;
    width: 30px;

}

.productName {
    margin-top: 0;
    margin-bottom: 0;
}

.productPrice {
    margin-top: 3px;
    margin-bottom: 0;
}


.itemCartQuantityText {
    margin-top: 0;
    margin-bottom: 0;
}

.itemCartQuantityInfo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}


#totalPrice {
    border: solid #577A9B;
    border-radius: 25px;
    background-color: #577A9B; /* slate */
    color: white;
    font-size: 100%;
    padding: 10px;
    margin: 10px;
    float: right;
    display: inline-flex;
}

#clearCartBtn {
    border: solid #577A9B;
    border-radius: 25px;
    background-color: #577A9B; 
    color: white;
    font-size: 100%;
    width: 30%;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

#clearCartBtn:hover {
    opacity: 0.7;
}