p {
    font-family: 'Trebuchet MS', sans-serif;
}

.breakPoint {
    margin: 2%;
}

h1 {
  text-align: center;
  color: #34516C;    
}


/* adds a border to the form */
form {
    border: 3px solid #f1f1f1;
    margin-bottom: 4.2%;
    padding-bottom: 4%;
  }
  
  /* inputs for username and password */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0.89em;
  }


    /* inputs for submit button - login page */
input[type=submit] {
    border: solid #34516C;
    border-radius: 16px;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #34516C;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    justify-content: center;
  }

  /* adds opacity on hover of submit button */
  input[type=submit]:hover{
    opacity: 0.8;
  }

  /* styles all buttons */
  button {
    cursor: pointer;

    border: solid #34516C;
    border-radius: 16px;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #34516C;
    text-align: center;
    width: 100%;
    font-size: 1em;
    margin: auto;
  }

  /* buttons hover effect - all */
button:hover {
    opacity: 0.8;
  }

  /* style the image container in login page*/
#loginImage {
    padding-top: 2%;
    text-align: center;
    margin: auto;
    
}

/* style the avatar image in login page */
#loginAvatarImg {
    border: solid #34516C;
    border-radius: 100px;
    box-shadow: #c7c6c6;
    height: 17%;
}

  /* styling all containers */
.container {
    padding: 2%;
}

/* the "Forgot password" text */
span.password {
    float: right;
    margin-top: 1%;
    margin-bottom: 4.6%;
}

/* the "Forgot password" text */
span.register {
    float: left;
    margin-top: 1%;
    margin-bottom: 4.6%;
}


/* css for mobile version */
@images screen and (max-width: 768px) {
  /* css for all */
  h1 {
      font-size: 2.1em;
  }

  .h2Title {
      font-size: 1.9em;
  }

  h2 {
      font-size: 1.6em;    
  }

  h3 {
      font-size: 1.4em;
  }

  p {
      font-size: 1.3em;
  }
}

 /* css for tablet version */
@images screen and (max-width: 1024px) and (min-width: 769px) {
  /* css for all */
  h1 {
      font-size: 2.6em;
  }

  .h2Title {
      font-size: 2.4em;
  }

  h2 {
      font-size: 1.9em;    
  }

  h3 {
      font-size: 1.7em;
  }

  p {
      font-size: 1.5em;
  }

}

/* css for desktop version */
@images screen and (min-width: 1025px) {    
  /* css for all */
  h1 {
      font-size: 3.5em;
  }

  .h2Title {
      font-size: 3em;
  }

  h2 {
      font-size: 2.2em;    
  }

  h3 {
      font-size: 1.9em;
  }

  p {
      font-size: 1.45em;
  }
}